@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

.fa-digg {
  color: #088178;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
}

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #456b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 240px;
}

.section-p2 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

body {
  width: 100%;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background-color: #e3e6f3;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
  box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.1);
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li {
  list-style-type: none;
  padding: 0 20px;
  position: relative;
}

#navbar li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #1a1a1a;
  transition: 0.3s ease;
  font-size: 18px;
}

#navbar .sepet {
  font-size: 25px;
}

#navbar li a:hover,
#navbar li a.active {
  color: #088178;
}

#navbar li a.active::after,
#navbar li a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background-color: #088178;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

#mobile {
  display: none;
}

#navbar #close {
  display: none;
}

#hero {
  background-image: url("img/pikwizard-coffee-writing-computer-blogging.jpg");
  height: 89vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 5.5rem;
}

#hero h4 {
  padding-bottom: 15px;
}

#hero h1 {
  color: #088178;
}

#hero button {
  margin-top: 1rem;
  color: #088178;
  cursor: pointer;
  background: transparent;
  border: 2px solid #d1f1ff;
  padding: 12px 22px;
  font-size: 21px;
  border-radius: 8px;
  font-weight: 700;
  transition: all 0.4s;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#hero button:hover {
  background-color: #088178;
  color: #fff;
}

#feature {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

#feature .fe-box {
  width: 180px;
  text-align: center;
  padding: 25px 15px;
  box-shadow: 20px 20px 35px rgba(0, 0, 0, 0.03);
  border: 1px solid #cce7d0;
  border-radius: 4px;
  margin: 15px 0;
}

#feature .fe-box:hover {
  box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.15);
}

#feature .fe-box img {
  width: 100%;
  margin-bottom: 13px;
}

#feature .fe-box h6 {
  display: inline-block;
  padding: 9px 8px 6px 8px;
  line-height: 1;
  border-radius: 4px;
  font-size: 18px;
  color: #088178;
  background-color: #fddde4;
}

#feature .fe-box:nth-child(2) h6 {
  background-color: #cdebbc;
}

#feature .fe-box:nth-child(3) h6 {
  background-color: #d1e8f2;
}

#feature .fe-box:nth-child(4) h6 {
  background-color: #cdd4f8;
}

#feature .fe-box:nth-child(5) h6 {
  background-color: #f6dbf6;
}

#feature .fe-box:nth-child(6) h6 {
  background-color: #fff2e5;
}

#product1 {
  text-align: center;
}

#product1 .pro-container {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  flex-wrap: wrap;
}

#product1 .pro {
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border-radius: 25px;
  border: 1px solid #cce7d0;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 15px 0;
  transition: 0.2s ease;
  position: relative;
}

#product1 .pro:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#product1 .pro .cerceve {
  overflow: hidden;
  transition: 0.3s ease;
  border-radius: 20px;
}

#product1 .pro .cerceve img:hover {
  transform: scale(1.15);
}

#product1 .pro img {
  width: 100%;
  border-radius: 20px;
  transition: 0.3s ease;
}

#product1 .pro .des {
  text-align: start;
  padding: 10px 0;
}

#product1 .pro .des span {
  color: #666063;
  font-size: 12px;
}

#product1 .pro .des h5 {
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 14px;
}

#product1 .pro .des .star i {
  color: rgb(230, 216, 29);
  font-size: 12px;
}

#product1 .pro .des h4 {
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: #088178;
}

#product1 .pro .cardw {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #e8f6ea;
  color: #088178;
  border: 1px solid #cce7d0;
  position: absolute;
  bottom: 20px;
  right: 10px;
}

#banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 100px 0;
  background-image: url("https://e7.pngegg.com/pngimages/1017/318/png-clipart-black-gold-pattern-background-pattern-poster-banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: border-box;
}

#banner h4 {
  font-size: 25px;
  color: #fff;
}

#banner h2 {
  font-size: 40px;
  color: #fff;
  padding: 1rem;
}

#banner button {
  background-color: #fff;
  border-radius: 8px;
  width: 150px;
  height: 50px;
  color: #222;
  font-weight: 500;
  font-size: 17px;
  border: none;
  cursor: pointer;
  transition: 0.3s ease;
}

#banner button:hover {
  background: #d7a54a;
  color: #fff;
}

#sm-banner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#sm-banner .banner-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: flex-start;
  padding-left: 1rem;
  background-image: url("https://www.shoppingbalneario.com.br/wp-content/uploads/2022/03/blog.jpg");
  width: 49%;
  height: 50vh;
  background-size: cover;
  background-position: center;
  position: relative;
  border-radius: 15px;
}

#sm-banner .banner-box:nth-child(2) {
  background-image: url("https://images.unsplash.com/photo-1524672353063-4f66ee1f385e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80");
}

#sm-banner .banner-box::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  border-radius: 15px;
}

#sm-banner .banner-box h4 {
  z-index: 10;
  color: #fff;
  font-size: 22px;
  letter-spacing: 2px;
  font-weight: 300;
}

#sm-banner .banner-box h2 {
  z-index: 10;
  color: #fff;
  font-weight: bold;
  margin: 0.5rem 0;
}

#sm-banner .banner-box span {
  z-index: 10;
  color: #fff;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

#sm-banner .banner-box button {
  z-index: 10;
  color: #fff;
  background: none;
  border: 1px solid #fff;
  padding: 1rem 1.4rem;
  font-size: 19px;
  font-weight: 700;
  cursor: pointer;
  border-radius: 5px;
}

#sm-banner .banner-box button:hover {
  border: 1px solid #fff;
  background-color: #fff;
  color: #fdb444;
}

#sm-banner .banner-box:nth-child(2) button:hover {
  color: #52bdb3;
}

#banner3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

#banner3 .banners {
  width: 32%;
  height: 300px;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  justify-content: center;
  align-items: flex-start;
  background-position: center;
  background-size: cover;
  position: relative;
  border-radius: 15px;
}

#banner3 .banners::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

#banner3 .banners:nth-child(1) {
  background-image: url("https://images.unsplash.com/photo-1481824429379-07aa5e5b0739?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=696&q=80");
}

#banner3 .banners:nth-child(2) {
  background-image: url("https://images.unsplash.com/photo-1541089404510-5c9a779841fc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
}

#banner3 .banners:nth-child(3) {
  background-image: url("https://images.unsplash.com/photo-1483985988355-763728e1935b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
}

#banner3 .banners h2 {
  z-index: 10;
  color: #fff;
}

#banner3 .banners h4 {
  z-index: 10;
  color: rgb(255, 84, 84);
}

#footer {
  background-color: #031837;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

#footer .box1 {
  width: 50%;
}

#footer .box1 h2 {
  color: #fff;
}

#footer .box1 p {
  font-size: 18px;
  color: #b5b5b5;
}

#footer .box1 span {
  color: gold;
}

#footer .box2 {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer .box2 form {
  width: 80%;
  display: flex;
}

#footer .box2 input[type="text"] {
  font-size: 18px;
  flex: 1;
  outline: none;
  border: none;
  border-radius: 8px;
  height: 2.7rem;
  padding: 1.5rem 0.5rem;
  margin-right: 0.3rem;
}

#footer .box2 input[type="submit"] {
  padding: 14px 25px;
  font-size: 18.5px;
  border: none;
  outline: none;
  color: #fff;
  background-color: #088178;
  font-weight: 700;
  cursor: pointer;
}

#footer2 {
  display: flex;
  gap: 1.5rem;
}

#footer2 h3 {
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

#footer2 p {
  margin: 10px 0;
}

#footer2 .bold {
  font-size: 1.1rem;
  font-weight: bold;
}

#footer2 i {
  font-size: 1.5rem;
  padding-right: 1rem;
}

#footer2 .footBox-1 {
  margin-bottom: 2rem;
}

#footer2 .box1 {
  flex: 1;
}

#footer2 .box1 .buttons {
  display: flex;
  gap: 1.5rem;
}

#footer2 .box1 .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  padding: 1rem 0;
}

#footer2 .box1 .btn h4 {
  font-size: 1.4rem;
}

#footer2 .box1 .btn i {
  font-size: 2.2rem;
  color: #f36f;
}

@media (max-width: 1750px) {
  .section-p1 {
    padding: 40px 120px;
  }
}

@media (max-width: 1390px) {
  .section-p1 {
    padding: 40px 65px;
  }
  #banner3 .banners h2 {
    font-size: 38px;
  }
}

@media (max-width: 1210px) {
  .section-p1 {
    padding: 40px 20px;
  }
  #footer2 i {
    padding-right: 0.3rem;
  }
}
@media (max-width: 1100px) {
  #product1 .pro-container {
    justify-content: center;
  }
  #header {
    padding: 10px 60px;
  }
  #navbar li a {
    font-size: 16px;
  }
}

@media (max-width: 1000px) {
  h2 {
    font-size: 38px;
  }

  #banner3 .banners h2 {
    font-size: 35px;
  }

  #footer .box1 p {
    font-size: 16px;
  }

  #footer .box2 input[type="submit"] {
    font-size: 16px;
  }

  #footer .box2 input[type="text"] {
    font-size: 16px;
  }
}

@media (max-width: 799px) {
  #navbar {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 270px;
    background-color: #e3e6f3;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 80px 0 0 10px;
    transition: all 0.3s ease;
    z-index: 9998;
  }

  #navbar li {
    margin-bottom: 25px;
  }

  #mobile {
    display: block;
    align-items: center;
  }

  #mobile i {
    color: #1a1a1a;
    font-size: 24px;
    padding-left: 20px;
    z-index: 9999;
  }
  #navbar.active {
    right: 0;
  }

  #navbar #close {
    display: block;
    position: absolute;
    right: 1.5rem;
    top: 1rem;
    font-size: 25px;
    color: #088178;
  }

  #footer {
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  #footer .box1 {
    width: 100%;
    padding: 20px 40px;
  }

  #footer .box2 {
    width: 100%;
  }

  #footer2 {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  #sm-banner {
    flex-direction: column;
  }

  #sm-banner .banner-box {
    width: 100%;
    margin-bottom: 1rem;
  }

  #feature {
    display: none;
  }

  #banner3 {
    flex-direction: column;
  }

  #banner3 .banners {
    width: 100%;
    margin-bottom: 1rem;
  }

  #banner {
    padding: 50px 0;
  }

  #section-m1 {
    margin: 20px 0;
  }

  #banner h2 {
    font-size: 32px;
  }

  #banner h4 {
    font-size: 20px;
  }
}

@media (max-width: 580px) {
  .section-p1 {
    padding: 10px 0;
  }

  #product1 .pro {
    min-width: 200px;
    width: 45%;
  }

  #hero {
    padding: 0 30px;
    padding-top: 4.5rem;
  }

  h1 {
    font-size: 40px;
  }
}

@media (max-width: 430px) {
  #product1 .pro {
    width: 80%;
  }
  h2 {
    font-size: 33px;
  }
  #banner h2 {
    font-size: 27px;
  }
  #banner button {
    width: 134px;
    height: 39px;
    font-size: 16px;
  }

  #footer .box2 form {
    flex-direction: column;
    gap: 1rem;
  }

  h1 {
    font-size: 36px;
  }

  #hero button {
    font-size: 17px;
  }

  #header {
    padding: 10px 20px;
  }
}
